build/
dist/
ZombieSurvival.egg-info/
tests/experiment/
__pycache__/
logging.log
.vscode/
high_score.json
setup.cfg
idea/
.idea/
*.aup
assets/Audio/audacity_project_files/
assets/Help/
assets/Images/Photoshop_projects/
